absl-py==0.9.0
astor==0.8.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
click==7.1.1
Flask==1.1.1
Flask-Debug==0.4.3
gast==0.3.3
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.27.2
h5py==2.10.0
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==1.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.18.2
protobuf==3.11.3
pyzmq==19.0.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==1.0.0
wrapt==1.12.1
